<app-navbar></app-navbar>

<app-sobre></app-sobre>

<app-habilidades></app-habilidades>

<app-stack></app-stack>

<section
  id="experiencias"
  class="app-background-escuro-2 d-flex justify-content-center align-items-center"
>
  <div class="container">
    <h2 class="display-5 fw-bold text-center">Experiências</h2>

    <div class="row flex-wrap justify-content-center g-3 mt-5">
      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <span class="rounded-pill text-bg-warning px-3"
              >Dez/2021 - Atualmente</span
            >
            <br />
            <img
              class="my-3"
              src="/logo-academia.png"
              alt="Logo da Academia do Programador"
            />
            <br />
            <label>Professor de Programação</label>
          </div>

          <div class="card-body">
            <p>
              Responsável pela instrução do curso, desenvolvimento e integração
              das aplicações web e sistemas internos da organização.
            </p>

            <p>
              <span class="fw-semibold">Stack:</span> .NET Framework, .NET 8,
              Entity Framework Core, ASP.NET Core MVC, ASP.NET Web API, MSTest,
              Docker, Angular.
            </p>
          </div>
        </div>
      </div>

      <div class="col">
        <div class="card h-100">
          <div class="card-header">
            <span class="rounded-pill text-bg-warning px-3"
              >Mar/2021 - Dez/2021</span
            >
            <br />
            <img
              class="my-3"
              src="/logo-ndd-secundaria.png"
              alt="Logo da NDD"
            />
            <br />
            <label>Estagiário</label>
          </div>

          <div class="card-body">
            <p>
              <span>Stack:</span> .NET Framework, .NET Core, Entity Framework
              Core, ASP.NET Core MVC, ASP.NET Web API, Angular.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section
  id="portfolio"
  class="app-background-escuro d-flex justify-content-center align-items-center"
>
  <div class="container">
    <h2 class="display-5 fw-bold text-center">Portfólio</h2>

    <div class="row flex-wrap justify-content-center g-3 mt-5">
      <div class="col-lg-4">
        <a target="_blank" href="https://www.academiadoprogramador.net">
          <img
            class="img-fluid rounded-4"
            src="/img-academia-sm.png"
            alt="Website da Academia do Programador versão mobile"
          />
        </a>
      </div>

      <div class="col">
        <img
          class="img-fluid rounded-4"
          src="/img-academia-lg.png"
          alt="Website da Academia do Programador"
        />
      </div>

      <div class="col-lg-8">
        <img
          class="img-fluid rounded-4"
          src="/img-gerenciador-cinema.png"
          alt="Aplicação do Gerenciador de Cinema"
        />
      </div>

      <div class="col-lg-4">
        <img
          class="img-fluid rounded-4"
          src="/img-gerenciador-cinema-sm.png"
          alt="Aplicação do Gerenciador de Cinema versão mobile"
        />
      </div>
    </div>
  </div>
</section>

<app-footer></app-footer>
